.left{
    background: black;
    height: 100vh;
    position: sticky;
    top: 0;
}
.right{
    overflow: auto;
    height: 100vh;
}
.img{
    background-image:url(../images-1/FATHER-KIDS.jpg);
     background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;  
}
.develop{
    position: absolute;
    top: 186px;
    right: 309px;
}
.father{
    height: 120px;
    width: 120px;
    border-radius: 80px;
    margin-top: 30px;
    margin-left: 70px; 
}
.tablet{
    margin-right: 10px;
    background: gray;
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 30px;  
}
.men{
    margin-top: 8px;
    margin-left: 8px;
    color: white;
}
.awsome-1{
    margin-top: 35px;
    margin-left: 35px;
}
.tablet:hover{
    background: aqua;
}
.lab{
    margin-top: 60px;
}
.list{
    list-style: none;
}
.man-1{
    color: #a8a9b4;
}
.man-2{
    color: #a8a9b4;
}
.man-3{
    color: #a8a9b4;
}
.man-4{
    color: #a8a9b4;
}
.man-5{
    color: #a8a9b4;
}
.margin{
    margin-top: 15px;
}
.margin:hover .man-1{
    color: blue;
}
.margin:hover .man-2{
    color: blue;
}
.margin:hover .man-3{
    color: blue;
}
.margin:hover .man-4{
    color: blue;
}
.margin:hover .man-5{
    color: blue;
}
.item-name{
    padding-left: 35px;
    color: #a8a9b4;
    text-decoration: none;
}
.head-1{
    margin-left: 190px;
    font-size: 70px;
    letter-spacing: 7px;
}
.head-2{
    margin-left: 235px;
    margin-top: 40px;
    font-size: 40px;
    color: white;
}
.head-3{
    margin-top: 50px;
    font-weight: 700;
    font-size: 30px;
    margin-left: 26px;
    margin-right: 34px;
}
.para-1{
    margin-top: 20px;
    line-height: 1.8;
    letter-spacing: 0.5px;
    font-size: 17px;
    margin-left: 26px;
    margin-right: 34px;
}
.head-4{
    margin-top: 40px;
    color: blueviolet;
}
.para-2{
    margin-top: 25px;
    letter-spacing: 0.5px;
    line-height: 1.8; 
}
.list1{
    list-style: none;
}
.list2{
    list-style: none;
}
.blog{
    margin-right: 10px;
    font-size: 15px;
    color: blue;
}
.ulist{
    margin-top: 15px;
}
.para-3{
    margin-top: 20px;
    margin-right: 15px;
    letter-spacing: 0.5px;
    line-height: 1.8; 
}
.blog-1{
    font-weight: 700;
}
.img-1{
    max-width: 90%;
    height: 56%;
    margin-top: 48px;
    margin-left: 26px;
}
.head-5{
    margin-top: 50px;
    font-weight: 700;
    font-size: 30px;
    margin-left: 26px;
    margin-right: 34px;
}

.para-4{
    margin-top: 20px;
    line-height: 1.8;
    letter-spacing: 0.5px;
    font-size: 17px;
    margin-left: 26px;
    margin-right: 34px;
}
.blog-2{
    font-size: 52px;
    margin-left: 22px;
    color: skyblue;
}
.para-5{
    position: relative;
    top: -74px;
    right: -87px;
}
.blog-3{
    font-weight: bolder;
    font-size: 45px;
}
.blog-4{
    font-weight: 700;
}
.para-6{
    position: relative;
    top: -74px;
    right: -98px;
}
.head-6{
    margin-top: 50px;
    font-weight: 700;
    font-size: 30px;
    margin-left: 26px;
    margin-right: 34px;
}
.para-7{
    margin-top: 20px;
    line-height: 1.8;
    letter-spacing: 0.5px;
    font-size: 17px;
    margin-left: 26px;
    margin-right: 34px;
}
.head-7{
    margin-top: 50px;
    font-weight: 700;
    font-size: 30px;
    margin-left: 26px;
    margin-right: 34px;
}
.para-8{
    margin-top: 20px;
    line-height: 1.8;
    letter-spacing: 0.5px;
    font-size: 17px;
    margin-left: 26px;
    margin-right: 34px;
}
.blog-5{
    display: block;
    background: lightblue;
    height: 30px;
    width: 110px;
    padding-left: 12px;
}
.blog-6{
    display: block;
    background: lightblue;
    height: 30px;
    width: 126px;
    padding-left: 12px;
    margin-left: 22px;
}
.blog-7{
    display: block;
    background: lightblue;
    height: 30px;
    width: 126px;
    padding-left: 12px;
    margin-left: 22px;

}
.para-9{
    font-style: italic;
}
.para-15{
    margin-left: 22px;
}
.prof{
    margin-right: 21px;
}
.resume-1{
    margin-left: 45px;
}
.head-8{
    margin-left: -26px;
    font-size: 30px;
    font-weight: 700;
}
.head-9{
    font-size: 18px;
    font-weight: bold;
    margin-left: 22px;
}
.head-10{
    margin-left: -26px;
    font-size: 30px;
    font-weight: 700;
}
.head-11{
    font-size: 18px;
    font-weight: bold;
    margin-left: -2px;
}
.head-13{
    margin-left: -3px;
    font-size: 30px;
    font-weight: 700;
}
.list3{
    margin-left: -25px;
}
.ulist-1{
    margin-top: 15px;
}
.ulist-2{
    margin-top: 15px;
}
.ulist-3{
    margin-top: 15px;
}
.head-14{
    margin-top: 50px;
    font-weight: 700;
    font-size: 30px;
    margin-left: 26px;
    margin-right: 34px;
}
.para-16{
    margin-top: 20px;
    line-height: 1.8;
    letter-spacing: 0.5px;
    font-size: 17px;
    margin-left: 26px;
    margin-right: 34px;
}
.list6{
    list-style: none;
}
.ulist-4-1{
    display: inline-block;
    margin-top: 15px;
    margin-right: 4%;
}
.ulist-4-2{
    display: inline-block;
    margin-top: 15px;
    margin-right: 4%;
}
.ulist-4-3{
    display: inline-block;
    margin-top: 15px;
    margin-right: 4%;
}
.ulist-4-4{
    display: inline-block;
    margin-top: 15px;
    margin-right: 4%;
}
.list-6{
    margin-left: 30%;
}
.ulist-4-1:hover{
    color: blue;
}
.ulist-4-2:hover{
    color: blue;
}
.ulist-4-3:hover{
    color: blue;
}
.ulist-4-4:hover{
    color: blue;
}
.progress{
    display: block;
    height: 60px;
    background: none;
}
.pro-1{
    display: block;
    margin-bottom: 12px;
}
.w-75 {
    width: 75%!important;
    height: 13px!important;
}
.men-1-1{
    height: 250px;
    width: 250px;
    margin-left: 26px;
    margin-top: 20px;
}
.men-1-2{
    height: 250px;
    width: 250px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 20px;
}
.men-1-3{
    height: 250px;
    width: 250px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 20px;
}
.head-15{
    margin-top: 50px;
    font-weight: 700;
    font-size: 30px;
    margin-left: 26px;
    margin-right: 34px;
}
.para-17{
    margin-top: 20px;
    line-height: 1.8;
    letter-spacing: 0.5px;
    font-size: 17px;
    margin-left: 26px;
    margin-right: 34px;
} 
.content-1{
    margin-top: 10px;
    margin-left: 26px;
    margin-right: 10px;
}
.content-2{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.content-3{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 15px;
}
.blog-8{
    background: blue;
    color: white;
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 40px;
    position: relative;
    top: 45px;
    left: 15px;
    border: 1px solid blue;
}
.can{
    margin-left: 10px;
    margin-top: 10px;
    font-size: 20px;
}
.head-16{
    margin-left: 75px;
}
.para-18{
    padding-left: 75px;
}
.content-1:hover .blog-8{
    color: blue;
    background: white;
}
.content-2:hover .blog-8{
    color: blue;
    background: white;
}
.content-3:hover .blog-8{
    color: blue;
    background: white;
}
.head-17{
    margin-top: 50px;
    font-weight: 700;
    font-size: 30px;
    margin-left: 26px;
    margin-right: 34px;
}
.para-19{
    margin-top: 20px;
    line-height: 1.8;
    letter-spacing: 0.5px;
    font-size: 17px;
    margin-left: 26px;
    margin-right: 34px;
}
.head-18{
    margin-top: 50px;
    font-weight: 700;
    font-size: 30px;
    margin-left: 26px;
    margin-right: 34px;
}
.para-20{
    margin-top: 20px;
    line-height: 1.8;
    letter-spacing: 0.5px;
    font-size: 17px;
    margin-left: 26px;
    margin-right: 34px;
}
.end-5{
    padding: 10px;
    width: 240px;
}
.end-6{
    padding: 10px;
    margin-top: 15px;
    width: 97%;
}
.end-7{
    margin-top: 15px;
    height: 162px; 
}
.end-4{
    background: white;
    padding-left: 20px;
    padding-top: 25px;
    box-shadow: 4px 4px 8px gray;
}
.end-9{
    margin-top: 30px;
    margin-left: 40%;
    background:blue;
    height: 45px;
    width: 135px;
    border-radius: 20px;
}
.end-8{
    text-decoration: none;
    color: white;
    padding-left: 16px;
    line-height: 2.5;
}
.end-10{
    font-weight: 700;
}
.para-21{
    margin-left: 78px;
}
.cat{
    padding-left: 10px;
    padding-top: 10px; 
}
.blog-9{
    background: skyblue;
    display: block;
    height: 35px;
    width: 35px;
    border-radius: 35px;
    margin-left: 26px;
    position: relative;
    top: 50px;
}
.blog-9-1{
    background: skyblue;
    display: block;
    height: 35px;
    width: 35px;
    border-radius: 35px;
    margin-left: 26px;
    position: relative;
    top: 39px;
}
.blog-9-2{
    background: skyblue;
    display: block;
    height: 35px;
    width: 35px;
    border-radius: 35px;
    margin-left: 26px;
    position: relative;
    top: 40px;
}